body {
  text-align : center;
  background-color : #101010;
  color : #ffffff;
  font-family : Arial;
  top : 0%;
  bottom : 0%;
  overflow : auto;
}
p {
  font-size : 20px;
}
a {
  color : #ffff00;
  text-decoration-line : underline;
}
a:visited {
  color : #ffaa00;
}
a:hover {
  color : #ffffff;
  font-weight : bold;
}
a:active {
  color : #bbbbbb;
}
svg {
  stroke:white;
  fill:none;
  stroke-width:3;
}
div {
  position : fixed;
  overflow : auto;
}
